body {
    background: linear-gradient(90deg, rgb(239, 130, 5) 0%, rgba(255, 175, 0, 1) 100%);
}

.containerPage {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
}

.bg1 {
    width: 35vw;
    height: 50vh;
    background-image: url(../img/imc1.png);
    background-size: contain;
}

.bg2 {
    width: 25vw;
    height: 45vh;
    background-image: url(../img/imc2.png);
    background-size: contain;
}

.bg-hf {
    background: linear-gradient(90deg, rgba(255, 175, 0, 1) 0%, rgba(199, 108, 3, 1) 100%);
}

.calc-btn {
    background: linear-gradient(90deg, rgba(255, 175, 0, 1) 0%, rgba(199, 108, 3, 1) 100%);
}

.calc-btn:hover {
    background: linear-gradient(90deg, rgb(239, 130, 5) 0%, rgba(255, 175, 0, 1) 100%);
}

.hf {
    height: 8vh;
}